<style type="text/css">
	.cell{
		white-space: nowrap;
	}
</style>
<div class="container">
	<div class="col-md-6 col-md-offset-3">
		<h4 style="font-size: 25px;">Member</h4>
		<br>
		  <div class="form-inputs">
			  <table class="table table-hover">
			  	<tr>
			  		<th><strong>Name</strong></th>
			  		<td><%= @user.first_name %>&nbsp<%= @user.last_name %></td>
			  	</tr>
			  	<tr>
			  		<th><strong>Phone</strong></th>
			  		<td><%= @user.phone %></td>
			  	</tr>
			  	<tr>
			  		<th><strong>Email</strong></th>
			  		<td><%= @user.email %></td>
			  	</tr>
			  	<tr>
			  		<th><strong>Birthday</strong></th>
			  		<td><%= @user.birthday %></td>
			  	</tr>
		  	</table>
		  <% if @user_appointments.present? %>
				<h5 style="font-size: 25px;">Appointment</h5>
			  <table class="table table-hover">
			  	<tr>
			  		<th><strong>Time</strong></th>
			  		<th><strong>Service</strong></th>
			  		<th><strong>Book time</strong></th>
			  		<th><strong>Note</strong></th>
			  		<th><strong>Delete</strong></th>
			  	</tr>
					<% @user_appointments.each do |appt| %>
				  	<tr>
				  		<td class="cell"><%= appt.time.to_time.strftime('%m-%d %H:%M') if appt.time.present? %></td>
				  		<td><%= appt.service %></td>
				  		<td class="cell"><%= appt.created_at.to_time.strftime('%m-%d %H:%M') if appt.time.present? %></td>
				  		<td><%= appt.note %></td>
				  		<td><%= link_to "Delete", "/appointment/#{appt.cal_event_id}", method: :delete, data: {confirm: "Are you sure to delete this appointment?"} %></td>
				  	</tr>
					<% end %>
				</table>
			<% end %>
		  </div>
		  <div class="form-actions">
		    <%= link_to "Edit", edit_user_path, class: "btn btn-warning" %>
		    <%= link_to "Back", :back, class: "btn btn-info" %>
		  </div>
	  </div>
</div>
