		<script type="text/javascript">
			$(function() {
			  return $('#products').imagesLoaded(function() {
			  	$('.loading').hide();
			  	$('#container').show();
			    return $('#products').masonry({
			      itemSelector: '.box',
			      isFitWidth: true
			    });
			  });
			});
		</script>
			<div id="page-header" style="margin-bottom: 40px">
				<div class="nav container">
					<h1>PRODUCTS</h1>
			        <% if user_signed_in? %>
			          <ul class="breadcrumbs navbar-right">
			            <li>
			              <%= link_to "Home", root_path %>
			            </li>
			            <li>
			              <%= link_to "New Product", new_product_path %>
			            </li>
			            <li>
			              <%= link_to "Account", edit_user_registration_path %>
			            </li>
			            <li>
			              <%= link_to "Sign Out", destroy_user_session_path,   method: :delete %>
			            </li>
			          </ul>
			        <% else %>
			          <ul class="breadcrumbs navbar-right">
			            <li>
			              <%= link_to "Home", root_path %>
			            </li>
			            <li>
			              <%= link_to "Sign In", new_user_session_path %>
			            </li>
			          </ul>
			        <% end %>
				</div>
			</div>

		<div class="transitions-enabled" id="products">
			<div class="loading">
				<img src="http://happywheelsyoob.com/themes/agario//resources/images/loading.gif" width="150" height="150">
			</div>
			<div id="container" class="container" style="display: none;">
				<div id="page-content">
					<div class="various-content" >
						<% @products.each do |product| %>
							<div class="box panel panel-default">
								<%= link_to (image_tag product.image.url), product %>
								<!-- <div class="panel-body"> -->

									<h4 style="margin-top: 10px;"><%= link_to product.name, product %></h4>
								<!-- </div> -->
							</div>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>