		<div id="page-header" style="margin-bottom: 40px">
			<div class="container">
				<h1>PRODUCTS</h1>
		        <% if user_signed_in? %>
		          <ul class="breadcrumbs navbar-right">
		            <li>
		              <%= link_to "Home", root_path %>
		            </li>
		            <li>
		              <%= link_to "New Product", new_product_path %>
		            </li>
		            <li>
		              <%= link_to "Account", edit_user_registration_path %>
		            </li>
		            <li>
		              <%= link_to "Sign Out", destroy_user_session_path,   method: :delete %>
		            </li>
		          </ul>
		        <% else %>
		          <ul class="breadcrumbs navbar-right">
		            <li>
		              <%= link_to "Home", root_path %>
		            </li>
		            <li>
		              <%= link_to "Sign Up", new_user_registration_path %>
		            </li>
		            <li>
		              <%= link_to "Sign In", new_user_session_path %>
		            </li>
		          </ul>
		        <% end %>
			</div>
		</div>
		<div class="container">
			<div id="page-content">
				<div class="various-content" >
					<% @products.each do |product| %>
						<%= link_to product.name, product %></p>
						<p><%= product.description %></p>
					<% end %>
				</div>
			</div>
		</div>
	</div>