		<div id="page-header" style="margin-bottom: 40px">
			<div class="container">
				<h1>PRODUCTS</h1>
				<ul class="breadcrumbs">
					<li><a href="/home">Home</a></li>
					<li><a href="/products">Products</a></li>
				</ul>
			</div>
		</div>
		<div class="container">
			<div id="page-content">
				<div class="various-content">
					<p><%= image_tag @product.image.url(:medium) %></p>
					<p><%= @product.name %></p>
					<p><%= @product.description %></p>
					<br>
					<p>Created by <%= @product.user.email %></p>
					<%= link_to "Edit", edit_product_path %>
					<%= link_to "Delete", product_path, method: :delete, data: {confirm: "Are you sure to delete this product?"} %>
				</div>
			</div>
		</div>
	</div>