<h1 style="color: green;">Reservation Confirmation</h1>
<h2>Thank you for giving us an opportunity to be your beautician.</h2>
<h3> We will contact to you shortly to confirm your reservation possibility</h3>
<h3>Name: <%= @infos["reservation-name"] %></h3>
<h3>Phone#: <%= @infos["reservation-phone"] %></h3>
<h3>Email: <%= @infos["reservation-email"] %></h3>
<h3>Date: <%= @infos["reservation-date"] %></h3>
<h3>Time: <%= @infos["reservation-time"] %></h3>
<h3>Note: <span style="color: red"><%= @infos["reservation-note"] %> </span></h3>
