<h2>New Message:</h2>
<h3>Name: <%= @infos["contact-name"] %></h3>
<h3>Phone#: <%= @infos["contact-phone"] %></h3>
<h3>Email: <%= @infos["contact-email"] %></h3>
<h3>Title: <%= @infos["contact-subject"] %></h3>
<h3>Message: <%= @infos["contact-message"] %></h3>
