<!-- HEADER : begin -->
<header id="header" class="m-animated">
	<div class="header-bg">
		<div class="header-inner">

			<!-- HEADER BRANDING : begin -->
			<div class="header-branding">
				<a href="index.html"><img src="/images/logo.png" alt="FlawlessBeauty" data-hires="images/logo.2x.png" width="291"></a>
			</div>
			<!-- HEADER BRANDING : end -->

			<!-- HEADER NAVIGATION : begin -->
			<div class="header-navigation">

				<!-- HEADER MENU : begin -->
				<nav class="header-menu">
					<button class="header-menu-toggle" type="button"><i class="fa fa-bars"></i>MENU</button>
					<ul>
						<li class="m-active">
							<span><%= link_to "home", "/home" %></span>
						</li>
						<li>
							<span><%= link_to "about-us", "/about-us" %></span>
						</li>
						<li>
							<span><%= link_to "services", "/services" %></span>
						</li>
						<li>
							<span><%= link_to "products", "/products" %></span>
						</li>
						<li>
							<span><%= link_to "contact", "/contact" %></span>
						</li>
						<li>
							<span><%= link_to "admin", "/users/sign_in" %></span>
						</li>
					</ul>
				</nav>
			</div>
			<!-- HEADER NAVIGATION : end -->

			<!-- HEADER PANEL : begin -->
			<div class="header-panel">

				<button class="header-panel-toggle" type="button"><i class="fa"></i></button>

				<!-- HEADER RESERVATION : begin -->
				<div class="header-reservation">
					<a href="/reservation" class="c-button m-open-ajax-modal">Make a Reservation</a>
				</div>
				<!-- HEADER RESERVATION : end -->

				<!-- HEADER CONTACT : begin -->
				<div class="header-contact">
					<ul>

						<!-- PHONE : begin -->
						<li>
							<div class="item-inner">
								<i class="ico fa fa-phone"></i>
								<strong>(510) 498-8843</strong>
							</div>
						</li>
						<!-- PHONE : end -->
						<!-- PHONE : begin -->
						<li>
							<div class="item-inner" id="wechat">
								<i class="ico fa fa-weixin"></i>
								<a id="wechatImg" href="#"><strong>WeChat: flawlessbeautysalon</strong><img src="/images/wechat.jpg"></a>
								
								
							</div>
						</li>
						<!-- PHONE : end -->

						<!-- EMAIL : begin -->
						<li>
							<div class="item-inner">
								<i class="ico fa fa-envelope-o"></i>
								<a href="mailto:hello@flawlessbeautysalon.us">flawless@flawlessbeautyandslimming.com</a>
							</div>
						</li>
						<!-- EMAIL : end -->

						<!-- ADDRESS : begin -->
						<li>
							<div class="item-inner">
								<i class="ico fa fa-map-marker"></i>
								<strong>FLAWLESSBEAUTY</strong><br>
								43737 Boscell Rd<br>
								Fremont, CA 94538
							</div>
						</li>
						<!-- ADDRESS : end -->

						<!-- HOURS : begin -->
						<li>
							<div class="item-inner">
								<i class="ico fa fa-clock-o"></i>
								<dl>
									<dt style="width:180px;">Everyday:</dt>
									<dd>10:00 - 19:00</dd>

								</dl>
							</div>
						</li>
						<!-- HOURS : end -->

					</ul>
				</div>
				<!-- HEADER CONTACT : end -->

				<!-- HEADER SOCIAL : begin -->
				<div class="header-social">
					<ul>
						<li><a href="https://www.yelp.com/biz/flawless-beauty-and-slimming-fremont" title="Twitter"><i class="fa fa-yelp"></i></a></li>
						<li><a href="https://www.facebook.com/Flawless-Beauty-Slimming-421939104522901/" title="Facebook"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#" title="Pinterest"><i class="fa fa-pinterest"></i></a></li>
					</ul>
				</div>
				<!-- HEADER SOCIAL : end -->

			</div>
			<!-- HEADER PANEL : end -->

		</div>
	</div>
</header>
<!-- HEADER : end -->